doctype html
html
  head
    title 根据ID查询书籍
    h1 根据ID查询书籍

    form(action='/catalog/bookquery', method='POST')
      div.form-group
        label(for='id') ID:
        input#name.form-control(type='text', name='id', placeholder='请输入您要查询的书籍ID', required)
      div.form-group
        button.btn.btn-primary(type='submit') 查询
