doctype html 
html 
    head 
        title 根据ID更新书名
        h1 根据ID更新书名

        form(action='/catalog/bookupdate', method='POST')
            div.form-group
                label(for='id') ID: 
                input#name.form-control(type='text', name='id', placeholder='请输入您要修改的书籍ID', required)

                label(for='newbookname') NewBookName: 
                input#name.form-control(type='text', name='newbookname', placeholder='请输入新书名', required)
            
            div.form-group
                button.btn.btn-primary(type='submit') 更新